.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 43%
    right: 78%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 32%
    right: 3%

  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 26%
  
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 9%
    right: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.fas.fa-info 
  color:white !important

.titulo-principal__numero span
  color:white !important

.tarjeta.color-b
  background-color: #FFF8E3 !important
.tarjeta.color-a
  background-color: #E8E2FD !important

.alto_custom
  height: 300px

.tarjeta.color-adicional-3
  background-color: #FFF8E3 !important

.cajon.color-acento-contenido
  background-color: #E2DAFF

.tarjeta.color-adicional-1
  background-color: #E2DAFF

.bloque-texto-b.color-secundario:before
   background-color: #E8E2FD !important
   left: 2%;
   right: 550px
.color-adicional-2.texto-blanco
  background-color: #5038A1;
.faa.acordion__activo
  background-color: $color-primario !important;   
.faa
  background-color: $color-adicional-1 !important;

.cajon-b.color-primario::before
  background-color: #E8E2FD
  left: 56%;
  right: 7px
  bottom: 56px
  top: 13px
  border-radius: 5px

.cajon-b.color-secundario::before
  background-color: #FFEDD2 !important;
  left: 0%;
  right: 431px
  bottom: -10px
  border-radius: 5px

.cajon-b.color-acento-contenido::before 
  background-color: #E8E2FD !important
  left: 645px;
  right: 17px;
  bottom: 14px;
  top: 66px;

.cajon-b:before
  opacity: 100%

.cajon-b.color-secundario1::before
  background-color: #FFEDD2 !important;
  left: 53%
  top: 170px
  right: 25px
  bottom: 12px
  border-radius: 5px

.cajon-b.color-secundario2::before
  background-color: #FFEDD2 !important;
  left: 31%
  top: 141px
  right: 25px
  bottom: 12px
  border-radius: 5px
  
.cajon-b.color-secundario3::before
  background-color:  #E8E2FD !important;
  left: 442px
  right: 23px
  bottom: 16px
  top: 28px

.cajon-b.color-secundario4::before
  background-color:  #E8E2FD !important
  left: 4px
  right: 362px
  bottom: 16px
  top: 42px

.cajon-b.contenido::before
  background-color: #FFEDD2 !important;
  left: 10px
  top: 17px 
  right: 220px
   
.slyder-a__btn--atrs
  background-color: #8C6DF2;

.slyder-a__btn--sigt
  background-color: #8C6DF2;

.slyder-a__bullets__item
  background-color: $color-acento-botones;

.tarjeta.color-acento-primario--borde
  background-color: #FFFAEA !important;

.tarjeta.color-acento-contenido *
  color: white !important;

.img-infografica__item__dot::after
  background-color: #FFC400 !important;

.img-infografica__item__dot::before
  background-color: #FFC400 !important;

.tarjeta.color-acento-botones *
  color: black !important;

.img-infografica__item__numero
  color: black !important;

.tarjeta.color-acento-botones1
  background-color: #5038A1
.tarjeta.color-acento-botones1 p
  color: white

.cajon.color-primario
  background-color: #FFF6DB

.color
  background-color: #9174F2
  color: white
  
.tabs-a__tab
  background-color: #E8E8E8 !important

.tabs-a.color-acento-contenido .tabs-a__tab__selected
  color: white !important
  background-color: #9174F2 !important

@media(max-width:768px)
  .cajon-b.color-primario::before
    bottom: 206px;

